---
layout: download-version
version: 2.1.0.0
versionshort: 2.1.0
releasedate: 26-Mar-2016 02:17
operatingsystem: Windows Vista/7/8/8.1/10
langs:
 - bg       : 57
 - ca       : 88
 - zh_CN    : 100
 - zh_TW    : 100
 - cs       : 100
 - da       : 51
 - nl       : 88
 - fi       : 50
 - fr       : 99
 - de       : 100
 - hu       : 57
 - id       : 52
 - it       : 72
 - ja       : 99
 - ko       : 92
 - pl       : 81
 - pt_BR    : 99
 - pt_PT    : 57
 - ro       : 92
 - ru       : 100
 - sr@latin : 57
 - sk       : 61
 - es       : 100
 - sv       : 94
 - tr       : 69
 - uk       : 54
 - vi       : 59
versionhint: |
 <p></p><p><b><font color=red>Known issue:</font></b> TortoiseGit may crash on startup if your git config is broken or libgit emits warnings/errors (see issue #2745).
 <a href="TortoiseGit-2.1.0.0-Hotfix.exe">Hotfix is available.</a></p>
files:
 - file: TortoiseGit-2.1.0.0-32bit.msi
   date: 26-Mar-2016 02:17
   size: 16482304
 - file: TortoiseGit-2.1.0.0-32bit.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-2.1.0.0-32bit.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-2.1.0.0-64bit.msi
   date: 26-Mar-2016 02:17
   size: 19312640
 - file: TortoiseGit-2.1.0.0-64bit.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-2.1.0.0-64bit.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-2.1.0.0-Hotfix.exe
   date: 28-Mar-2016 06:45
   size: 1161032
 - file: TortoiseGit-DebugSymbols-2.1.0.0.7z
   date: 26-Mar-2016 02:18
   size: 35234784
 - file: TortoiseGit-DebugSymbols-2.1.0.0.7z.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-DebugSymbols-2.1.0.0.7z.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguageDlls-2.1.0.0-32bit.7z
   date: 05-Apr-2016 08:53
   size: 1871209
 - file: TortoiseGit-LanguageDlls-2.1.0.0-32bit.7z.asc
   date: 05-Apr-2016 08:54
   size: 188
 - file: TortoiseGit-LanguageDlls-2.1.0.0-32bit.7z.rsa.asc
   date: 05-Apr-2016 08:54
   size: 836
 - file: TortoiseGit-LanguageDlls-2.1.0.0-64bit.7z
   date: 05-Apr-2016 08:53
   size: 1907006
 - file: TortoiseGit-LanguageDlls-2.1.0.0-64bit.7z.asc
   date: 05-Apr-2016 08:54
   size: 188
 - file: TortoiseGit-LanguageDlls-2.1.0.0-64bit.7z.rsa.asc
   date: 05-Apr-2016 08:54
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-bg.msi
   date: 26-Mar-2016 02:17
   size: 2965504
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-bg.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-bg.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ca.msi
   date: 26-Mar-2016 02:17
   size: 3248128
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ca.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ca.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-cs.msi
   date: 26-Mar-2016 02:17
   size: 2940928
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-cs.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-cs.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-da.msi
   date: 26-Mar-2016 02:17
   size: 2969600
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-da.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-da.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-de.msi
   date: 26-Mar-2016 02:17
   size: 5672960
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-de.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-de.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-es.msi
   date: 26-Mar-2016 02:17
   size: 2998272
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-es.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-es.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-fi.msi
   date: 26-Mar-2016 02:17
   size: 2363392
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-fi.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-fi.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-fr.msi
   date: 26-Mar-2016 02:17
   size: 3063808
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-fr.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-fr.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-hu.msi
   date: 26-Mar-2016 02:17
   size: 3076096
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-hu.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-hu.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-id.msi
   date: 26-Mar-2016 02:17
   size: 2363392
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-id.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-id.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-it.msi
   date: 26-Mar-2016 02:17
   size: 3059712
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-it.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-it.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ja.msi
   date: 26-Mar-2016 02:17
   size: 2355200
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ja.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ja.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ko.msi
   date: 26-Mar-2016 02:17
   size: 2355200
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ko.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ko.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-nl.msi
   date: 26-Mar-2016 02:17
   size: 2994176
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-nl.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-nl.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pl.msi
   date: 26-Mar-2016 02:17
   size: 3403776
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pl.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pl.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pt_BR.msi
   date: 26-Mar-2016 02:17
   size: 3969024
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pt_BR.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pt_BR.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pt_PT.msi
   date: 26-Mar-2016 02:17
   size: 3006464
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pt_PT.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-pt_PT.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ro.msi
   date: 26-Mar-2016 02:17
   size: 3321856
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ro.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ro.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ru.msi
   date: 26-Mar-2016 02:17
   size: 3239936
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ru.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-ru.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sk.msi
   date: 26-Mar-2016 02:17
   size: 3125248
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sk.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sk.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sr-latin.msi
   date: 26-Mar-2016 02:17
   size: 2863104
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sr-latin.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sr-latin.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sv.msi
   date: 26-Mar-2016 02:17
   size: 3616768
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sv.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-sv.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-tr.msi
   date: 26-Mar-2016 02:17
   size: 2363392
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-tr.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-tr.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-uk.msi
   date: 26-Mar-2016 02:17
   size: 2863104
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-uk.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-uk.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-vi.msi
   date: 26-Mar-2016 02:17
   size: 2379776
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-vi.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-vi.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-zh_CN.msi
   date: 26-Mar-2016 02:17
   size: 1990656
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-zh_CN.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-zh_CN.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-zh_TW.msi
   date: 26-Mar-2016 02:17
   size: 1990656
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-zh_TW.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-32bit-zh_TW.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-bg.msi
   date: 26-Mar-2016 02:17
   size: 4079616
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-bg.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-bg.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ca.msi
   date: 26-Mar-2016 02:17
   size: 4366336
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ca.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ca.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-cs.msi
   date: 26-Mar-2016 02:17
   size: 4050944
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-cs.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-cs.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-da.msi
   date: 26-Mar-2016 02:17
   size: 4079616
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-da.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-da.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-de.msi
   date: 26-Mar-2016 02:17
   size: 6787072
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-de.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-de.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-es.msi
   date: 26-Mar-2016 02:17
   size: 4112384
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-es.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-es.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-fi.msi
   date: 26-Mar-2016 02:17
   size: 3477504
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-fi.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-fi.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-fr.msi
   date: 26-Mar-2016 02:17
   size: 4177920
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-fr.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-fr.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-hu.msi
   date: 26-Mar-2016 02:17
   size: 4194304
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-hu.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-hu.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-id.msi
   date: 26-Mar-2016 02:17
   size: 3477504
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-id.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-id.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-it.msi
   date: 26-Mar-2016 02:17
   size: 4173824
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-it.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-it.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ja.msi
   date: 26-Mar-2016 02:17
   size: 3465216
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ja.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ja.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ko.msi
   date: 26-Mar-2016 02:17
   size: 3469312
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ko.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ko.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-nl.msi
   date: 26-Mar-2016 02:17
   size: 4108288
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-nl.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-nl.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pl.msi
   date: 26-Mar-2016 02:17
   size: 4526080
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pl.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pl.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pt_BR.msi
   date: 26-Mar-2016 02:17
   size: 5087232
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pt_BR.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pt_BR.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pt_PT.msi
   date: 26-Mar-2016 02:17
   size: 4120576
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pt_PT.msi.asc
   date: 26-Mar-2016 02:17
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-pt_PT.msi.rsa.asc
   date: 26-Mar-2016 02:17
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ro.msi
   date: 26-Mar-2016 02:17
   size: 4444160
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ro.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ro.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ru.msi
   date: 26-Mar-2016 02:18
   size: 4358144
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ru.msi.asc
   date: 26-Mar-2016 02:22
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-ru.msi.rsa.asc
   date: 26-Mar-2016 02:22
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sk.msi
   date: 26-Mar-2016 02:18
   size: 4243456
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sk.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sk.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sr-latin.msi
   date: 26-Mar-2016 02:18
   size: 3985408
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sr-latin.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sr-latin.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sv.msi
   date: 26-Mar-2016 02:18
   size: 4734976
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sv.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-sv.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-tr.msi
   date: 26-Mar-2016 02:18
   size: 3477504
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-tr.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-tr.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-uk.msi
   date: 26-Mar-2016 02:18
   size: 3977216
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-uk.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-uk.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-vi.msi
   date: 26-Mar-2016 02:18
   size: 3493888
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-vi.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-vi.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-zh_CN.msi
   date: 26-Mar-2016 02:18
   size: 3096576
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-zh_CN.msi.asc
   date: 26-Mar-2016 02:18
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-zh_CN.msi.rsa.asc
   date: 26-Mar-2016 02:18
   size: 836
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-zh_TW.msi
   date: 26-Mar-2016 02:18
   size: 3100672
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-zh_TW.msi.asc
   date: 26-Mar-2016 02:22
   size: 188
 - file: TortoiseGit-LanguagePack-2.1.0.0-64bit-zh_TW.msi.rsa.asc
   date: 26-Mar-2016 02:22
   size: 836
---
