.diricon
{
    display: inline-block;
    background: url('../images/diricons.png') no-repeat;
    width: 20px;
    height: 22px;
}

.diricon-binary { background-position: 0 -22px; }
.diricon-up { background-position: 0 -44px; }
.diricon-compressed { background-position: 0 -66px; }
.diricon-text { background-position: 0 -88px; }
.diricon-folder { background-position: 0 -110px; }
