.flag:before
{
    background: url('../images/flags.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    content: '';
    display: inline-block;
    margin-right: 0.4em;
    width: 18px;
    height: 14px;
}

.flag-pt_BR:before { background-position: 0 -14px; }
.flag-zh_CN:before { background-position: 0 -27px; }
.flag-cs:before { background-position: 0 -41px; }
.flag-de:before { background-position: 0 -55px; }
.flag-da:before { background-position: 0 -69px; }
.flag-es:before { background-position: 0 -83px; }
.flag-ca:before { background-position: 0 -97px; }
.flag-fi:before { background-position: 0 -111px; }
.flag-fr:before { background-position: 0 -125px; }
.flag-hu:before { background-position: 0 -139px; }
.flag-id:before { background-position: 0 -153px; }
.flag-fa:before { background-position: 0 -167px; }
.flag-it:before { background-position: 0 -181px; }
.flag-ja:before { background-position: 0 -195px; }
.flag-ko:before { background-position: 0 -209px; }
.flag-nl:before { background-position: 0 -223px; }
.flag-pl:before { background-position: 0 -237px; }
.flag-pt_PT:before { background-position: 0 -251px; }
.flag-ro:before { background-position: 0 -265px; }
.flag-srp:before { background-position: 0 -279px; }
.flag-ru:before { background-position: 0 -293px; }
.flag-sv:before { background-position: 0 -307px; }
.flag-sk:before { background-position: 0 -321px; }
.flag-tr:before { background-position: 0 -335px; }
.flag-zh_TW:before { background-position: 0 -349px; }
.flag-uk:before { background-position: 0 -363px; }
.flag-vi:before { background-position: 0 -377px; }
.flag-bg:before { background-position: 0 -391px; }
.flag-el:before { background-position: 0 -405px; }
