---
layout: default
title: Donate
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
				<h1>Donate to TortoiseGit</h1>
				<p>TortoiseGit is developed by volunteers in their spare time. Donations will be used to pay hosting and other costs. If anything is left over at the end of the year the amount is shared between the developers.</p>
				<p>We accept donations mediated by the following services:</p>
				<table>
					<tr>
						<td width="220" style="font-size: 150%;">PayPal</td>
						<td align="center"><a href="https://www.paypal.me/tortoisegit" target="_blank"><img src="paypal_btn_donateCC_LG.png" width="147" height="47" alt="PayPal"></a></td>
					</tr>
				</table>
				<p>&nbsp;</p>
				<p>We thank all donators!</p>

				<h2>It's not all about money</h2>
				<p>We really appreciate if you donate money, however, <b>manpower</b> is also needed!</p>
				<p>You&#x27;re welcome to <b><a href="/contribute/">contribute</a></b> to this project!</p>
			</div>
		</div>
